{% extends 'layout.html' %}
{% block title %} Kasblar {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="mb-5 mt-5">
    <h4 class="fw-semibold">{% trans "Kasblar" %}</h4>
    <hr/>
</div>
<div class="row">
    <div class="col-lg-3">
        <h5 class="fw-semibold mb-3">Dasturlash</h5>
        <ul>
            <li class="mb-2"><a href="#" class="link-hover-underline" style="color:#2A3547;">Backend dasturlash</a></li>
            <li class="mb-2"><a href="#" class="link-hover-underline" style="color:#2A3547;">Frontend dasturlash</a></li>
            <li class="mb-2"><a href="#" class="link-hover-underline" style="color:#2A3547;">Mobil dasturlash</a></li>
            <li class="mb-2"><a href="#" class="link-hover-underline" style="color:#2A3547;">iOS dasturlash</a></li>
        </ul>
    </div>
</div>
{% endblock content %}