{% extends 'layout.html' %}
{% block title %} Darsliklar {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="mb-5 mt-5">
  <h4 class="fw-semibold">{{lesson.title}}</h4>
  <hr/> 
</div>
<div class="row">
  <div class="col-lg-9 offset-lg-1">
    <div class="fs-5 mb-5">
        <div data-vjs-player class="rounded-3">
            <video
                id="my-video"
                class="video-js w-100 mb-5"
                controls
                preload="auto"
                height="264"
                fluid="true"
                data-setup='{
                    "techOrder": ["youtube"], 
                    "sources": [{
                        "type": "video/youtube", 
                        "src": "{{lesson.video_url}}"
                    }],
                    "youtube": {
                        "ytControls": 0,
                        "customVars": { "wmode": "transparent"}}}'>
            </video>
        </div>
        <div class="content">
            {{lesson.content|safe}}
        </div>
    </div>
  </div>
</div>
{% endblock content %}