{% extends '../shared/_base.html' %}
{% block title %} {{lesson.title}} {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="mb-5 mt-5">
  <h4 class="fw-semibold">{{lesson.title}}</h4>
  <hr/> 
</div>
<div class="row">
  <div class="col-lg-9 offset-lg-1">
    <div class="fs-5 mb-4">
        {% if lesson.video_url %}
        <div data-vjs-player class="rounded-3">
            <video
                id="my-video"
                class="video-js w-100 mb-5 rounded-3"
                controls
                preload="auto"
                height="264"
                fluid="true"
                data-setup='{
                    "techOrder": ["youtube"], 
                    "sources": [{
                        "type": "video/youtube", 
                        "src": "{{lesson.video_url}}"
                    }],
                    "youtube": {
                        "ytControls": 0,
                        "customVars": { "wmode": "transparent"}}}'>
            </video>
        </div>
        {% endif %}
        <div class="lesson-content">
            {{lesson.content|safe}}
        </div>
        <div class="mb-5 mt-5">
          <button type="button" class="btn btn-primary fs-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Testni boshlash
            <span class="ms-2">
              <i class="ti ti-arrow-narrow-right"></i>
            </span>
          </button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          <span style="margin-right: 3px;">
            <i class="ti ti-alert-circle"></i>
          </span>
          Eslatma
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Testni boshlashdan avval mavzu so'ngida berilgan amaliy topshiriqlarni to'g'ri bajarganizga ishonch hosil qiling.
        Mavzuga doir barcha muhim ma'lumotlarni eslab qolganingizga ishonch hosil qilganingizdan so'ng testni boshlang.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Darsga qaytish</button>
        <button type="button" class="btn btn-primary">Testni boshlash</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}