{% extends 'layout.html' %}
{% block title %} Darsliklar {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="mb-5 mt-5">
  <h4 class="fw-semibold">{{schoolbook.subject.name}}</h4>
  <hr/>
</div>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <ul class="timeline-widget mb-0 position-relative mb-5">
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary bg-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-success mb-0">
                <i class="ti ti-circle-check"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary bg-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-success mb-0 ml-3">
                <i class="ti ti-circle-check"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary bg-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <h4 class="fs-5">Excel dasturida ishlash</h4>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary bg-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-success mb-0">
                <i class="ti ti-circle-check"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-dark mb-0">
                <i class="ti ti-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-dark mb-0">
                <i class="ti ti-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-dark mb-0">
                <i class="ti ti-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-item d-flex position-relative overflow-hidden">
        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
          <span class="timeline-badge-border d-block flex-shrink-0"></span>
        </div>
        <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <h5 class="fs-4 mb-0"><a href="#" class="link-hover-underline">Elektron jadvallar bilan ishlashni boshlash</a></h5>
              <span class="fs-5 text-dark mb-0">
                <i class="ti ti-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}