{% extends 'layout.html' %}
{% block title %} {{schoolbook.grade.name}} {{schoolbook.subject.name}} {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="mb-5 mt-5">
  <h4 class="fw-semibold text-uppercase">{{schoolbook.subject.name}}</h4>
  <hr/>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="accordion mb-5" id="modules">
      {% for module in modules %}
        <div class="accordion-item">
          <h2 class="accordion-header fs-5" id="{{forloop.counter}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{module.id}}" aria-expanded="false" aria-controls="{{module.id}}">
              {{module.title}}
            </button>
          </h2>
          <div id="{{module.id}}" class="accordion-collapse collapse" aria-labelledby="{{forloop.counter}}" data-bs-parent="#modules">
            <div class="accordion-body">
              <ul class="timeline-widget mb-0 position-relative">
                {% for lesson in module.lessons %}
                <li class="timeline-item d-flex position-relative overflow-hidden">
                  <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                    <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
                    <span class="timeline-badge-border d-block flex-shrink-0"></span>
                  </div>
                  <div class="timeline-desc fs-3 text-dark mt-n1 w-100">
                    <div class="card">
                      <div class="card-body d-flex justify-content-between">
                        <h5 class="fs-4 mb-0"><a href="{% url 'lesson' lesson.slug %}" class="link-hover-underline">{{lesson.title}}</a></h5>
                      </div>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>        
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body pb-1">
        <h5 class="fw-semibold mb-4">{% trans "Instruktorlar" %}</h5>
        {% for module in modules %}
          {% for instructor in module.instructors.all %}
          <div class="d-flex align-items-between mb-4">
            <div>
              <img src="{% static '/images/profile/user-1.jpg' %}" class="rounded-circle" width="50" height="50" alt="logo">
            </div>
            <div class="ms-3">
              <h3 class="fs-4 fw-semibold mb-2">
                <a href="#" class="link-hover-underline">{{instructor.first_name}} {{instructor.last_name}}</a>
              </h3>
              <h6 class="mb-0">
                {{instructor.institution.name}}, {% trans "o'qituvchi" %}
              </h6>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}