{% extends '../shared/_base.html' %}
{% block title %} Darsliklar {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="row">
    <h5 class="fw-semibold mb-4 mt-5">{% trans "Darsliklar" %}</h5>
    <div class="col-lg-12 d-flex align-items-stretch mb-5">
        <div class="row">
            {% for schoolbook in schoolbooks %}
            <div class="col-sm-6 col-xl-3">
                <div class="card overflow-hidden rounded-2">
                    <div class="position-relative">
                        <a href="javascript:void(0)"><img src="{% static 'images/schoolbook/book_cover.png' %}" class="card-img-top rounded-0" alt="cover_image"/></a>
                        <span class="bg-info rounded p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3">
                            {{schoolbook.grade.name}}
                        </span>                      
                    </div>
                    <div class="card-body pt-3 p-4">
                        <h6 class="fw-semibold fs-4 mb-3 text-uppercase"><a href="{% url 'schoolbook' school_book_slug=schoolbook.slug %}" class="link-hover-underline">{{schoolbook.subject.name}}</a></h6>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="progress w-100">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}