{% load i18n %}
<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-adsense-account" content="ca-pub-1482378044784975">
  <title>{% block title %}{% blocktrans %}{% endblocktrans %}{% endblock %} - Edufit</title>
  <meta name="description" content="Edufit bilan mutlaqo bepul o'rgan">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" src="{% static 'js/metrika.js' %}"></script>
  <noscript><div><img src="https://mc.yandex.ru/watch/95980565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <meta property="og:title" content="Edufit"/>
  <meta property="og:description" content="Edufit bilan mutlaqo bepul o'rgan"/>
  <meta property="og:image" content="{% static 'images/opengraph/banner.png'%}"/>
  <meta property="og:locale" content="uz_UZ"/>
  <meta property="og:locale:alternate" content="ru_RU"/>
  <meta property="og:site_name" content="Edufit" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logos/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logos/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logos/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/logos/favicon/site.webmanifest' %}">
  <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}"/>
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <aside class="left-sidebar">
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'home' %}" class="text-nowrap logo-img">
            <img src="{% static '/images/logos/logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item mt-4">
              <a class="sidebar-link" href="{% url 'home' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-home"></i>
                </span>
                <span class="hide-menu">{% trans "Bosh sahifa" %}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'schoolbooks' %}" aria-expanded="false">
                <span> 
                  <i class="ti ti-books"></i>
                </span>
                <span class="hide-menu">{% trans "Darsliklar" %}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'articles' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-news"></i>
                </span>
                <span class="hide-menu">{% trans "Maqolalar" %}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'competitions' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-assembly"></i>
                </span>
                <span class="hide-menu">{% trans "Olimpiadalar" %}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'rating' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-flame"></i>
                </span>
                <span class="hide-menu">{% trans "Reyting" %}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <div class="body-wrapper">
      {% include "../shared/_header.html" %}
      <div class="container-fluid">
        {% block content %} {% endblock %}
      </div>
      {% include "../shared/_footer.html" %}
    </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1482378044784975" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/3.0.1/Youtube.min.js"></script>
  <script>
    const player = videojs('my-video', {});
  </script>
</body>
</html>