{% extends '../shared/_base.html' %}
{% block title %} Maqolalar {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
{% load humanize %}
<div class="mb-5 mt-5">
  <h4 class="fw-semibold">{% trans "Maqolalar" %}</h4>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="row mb-4">
        {% for article in articles %}
        <div class="card mb-2">
          <div class="card-body px-3">
            <div class="d-flex align-items-between mb-3">
              <div>
                <img src="{% static '/images/profile/user-1.jpg' %}" class="rounded-circle" width="25" height="25" alt="logo">
              </div>
              <div class="ms-3">
                <h6 class="fs-3 fw-semibold mb-1">
                  <a href="#" class="link-hover-underline">{{article.author.first_name}} {{article.author.last_name}}</a>
                </h6>
                <h6 class="mb-0 fs-2 text-lowercase">
                  {{article.created|date:"j-F, Y"}} ({{ article.created|naturaltime }})
                </h6>
              </div>
            </div>
            <div style="margin-left: 40px;">
              <h3 class="mb-3 fw-semibold">
                <a href="{% url 'article' article.slug %}" class="link-hover-underline">
                  {{article.title}}
                </a>
              </h3>
              {% for subject in article.subjects.all %}
              <span class="badge bg-primary rounded-3 fw-semibold">#{{subject.name}}</span>
              {% endfor %}
            </div>
          </div>
        </div> 
        {% endfor %}
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body pb-1">
        <h5 class="fw-semibold mb-4">{% trans "Eng mashhurlar" %}</h5>
        {% for top_author in top_authors %}
          <div class="d-flex align-items-between mb-4">
            <div>
              <img src="{% static '/images/profile/user-1.jpg' %}" class="rounded-circle" width="50" height="50" alt="logo">
            </div>
            <div class="ms-3">
              <h3 class="fs-4 fw-semibold mb-2">
                <a href="#" class="link-hover-underline">{{top_author.first_name}} {{top_author.last_name}}</a>
              </h3>
              <h6 class="mb-0">
                {{top_author.institution.name}}, {{top_author.grade.name}}
              </h6>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}