{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<div class="row">
  <h5 class="fw-semibold mb-4 mt-5">Umumiy reyting</h5>
  <div class="col-lg-12 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <div class="d-sm-flex d-block align-items-center justify-content-between">
          <div class="w-100 mb-5">
            <form action="" class="d-flex d-block align-items-center justify-content-between">
                <input class="form-control" placeholder="Ism yoki familiyani kiriting"/>
                <button type="submit" class="btn btn-primary mx-3 d-flex d-block align-items-center justify-content-between">
                    <span style="margin-right: 10px;">
                        <i class="ti ti-search"></i>
                    </span>
                    Qidirish
                </button>
            </form>
          </div>
          {% if grades %}
          <div class="mb-5 w-sm-50">
            <select class="form-select">
              {% for grade in grades %}
                <option value={{grade.id}}>{{grade.name}}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
        </div>
        <div class="table-responsive mb-5">
          {% if page_obj.object_list %}
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0"></h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">O'quvchi</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">O'quv muassasa</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Sinf</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Ochkolar</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for user in page_obj.object_list %}
              <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{user.rank}}</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1">{{user.first_name}} {{user.last_name}}</h6>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{user.institution.name}}</p>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-success rounded-3 fw-semibold">{{user.grade.name}}</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  {% if user.score %}
                  <h6 class="fw-semibold mb-0 fs-4">{{user.score}}</h6>
                  {% else %}
                  <h6 class="fw-semibold mb-0 fs-4">0</h6>
                  {% endif %}
                </td>
              </tr>         
              {% endfor %}                
            </tbody>
          </table>
          {% endif %}
        </div>
        <div class="pagination float-end">
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="btn btn-primary">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}" class="btn">{{ i }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}