{% extends 'emptyLayout.html' %}
{% block title %} Ro'yxatdan o'tish {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-8 col-xxl-4">
          <div class="card mb-5 mt-5">
            <div class="card-body">
              <a href="{% url 'home' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="{% static 'images/logos/logo.png' %}" width="180" alt="">
              </a>
              <p class="text-center">Yangi hisob yaratish</p>
              <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                  <div class="mb-4">
                    {{ field.errors }}
                    <label class="form-label" for="{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Ro'yxatdan o'tish</button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Hisobingiz mavjudmi?</p>
                  <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Faollashtiring</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}