{% extends 'layout.html' %}
{% block title %} Ma'lumotlarni tahrirlash {% endblock %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
{% load static %}
<div class="row">
    <h5 class="fw-semibold mb-5 mt-5">{% trans "Shaxsiy ma'lumotlar" %}</h5>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'settings' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label class="form-label" for="{{ form.first_name.name }}">{% blocktrans %} {{ form.first_name.label }} {% endblocktrans %}</label>
                            {{ form.first_name }}
                            {% blocktrans %} {{ form.first_name.errors }} {% endblocktrans %}
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label class="form-label" for="{{ form.last_name.name }}">{% blocktrans %} {{ form.last_name.label }} {% endblocktrans %}</label>
                            {{ form.last_name }}
                            {% blocktrans %} {{ form.last_name.errors }} {% endblocktrans %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label class="form-label" for="{{ form.institution.name }}">{% blocktrans %} {{ form.institution.label }} {% endblocktrans %}</label>
                            {{ form.institution }} 
                            {% blocktrans %} {{ form.institution.errors }} {% endblocktrans %}
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-4">
                            <label class="form-label" for="{{ form.grade.name }}">{% blocktrans %} {{ form.grade.label }} {% endblocktrans %}</label>
                            {{ form.grade }}
                            {% blocktrans %} {{ form.grade.errors }} {% endblocktrans %}
                        </div>
                    </div>
                    {% for error in form.errors %}
                        {{error.message}}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">{% trans "Yangilash" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}